*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Times New Roman;
    background-color: rgb(255, 255, 255);;
}

/* section header start */
.top{
    height: auto;
    display: flex;
    
    
}
.top img{
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 70px;
    height: 70px;
}
.navbar-collapse ul  a{
    font-size: 16px;
    color: black;
    font-family: Space Grotesk ;
    
}


.header {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 81px;
}
.header img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}
.navbar-collapse{
    display: flex;
    justify-content: center;
}
.navbar-collapse ul{
    font-size: 16px;
    color: black;
    font-family: Space Grotesk ;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.navbar-collapse ul li:hover{
    text-decoration: underline;
}

.nav-item .active{
    
    font-weight: bolder;
}
.nav-item:active{
    font-weight: bolder;
}


@media (max-width: 990px) {
    .header {
        display: none;
    }
    .navbarlg {
        display: none;
    }
}


/* section header end */


/* section home start */

.home1  {
    padding: 20px ;
    
}
.home1 .row{
    justify-content: center !important;
}
.home1 .row img{
    object-fit: cover;
    width: 100%;
    height: fit-content;
}

 .home1  .review img{
    width: 200px !important;
    height: 250px !important;
    object-fit: cover !important;
    margin-left: 15%;
    border-radius: 50%;
    display: inline !important;
    
    
}
.home1  .review p{
    font-family: Tahoma;
    text-align: center;
    margin-left: 6% !important;
    width: 450px;
    display: inline-block;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    background-size: 30px 30px; 
    color: black;
}
.home1 .home-about{
    margin-top: 10%;
}
.home1 .col-lg-6{
    padding: 20px;
}
.home1 .home-about p{
    padding: 30px;
    font-family: Space Grotesk;
    font-size: 20px;
}
.home1 .buttons button{
    background-color: transparent;
    border: 2px solid black;
    margin-top: 30px;
    font-family: DM Sans, sans-serif ;
    width: 170px;
    height: 60px;
}
.home1 .buttons button:hover{
    background-color: black;
    color: aliceblue;
}
@media(max-width:900px){
    .home1  .review img{
        width: 150px !important;
        height: 150px !important;
        object-fit: cover !important;
        margin-left: 15%;
        border-radius: 50%;
        display: inline !important;
        
        
    }
    .home1  .review p{
        font-family: Tahoma;
        text-align: center;
        margin-left: 60px !important;
        width: 400px;
        display: inline-block;
    }
}
@media(max-width:768px){
    .home1 .row .col-md-4{
        object-fit: cover;
        width: 150px;
        height: fit-content;
        padding: 0 !important;
    }
    
    .home1  .review img{
        width: 150px !important;
        height: 150px !important;
        object-fit: cover !important;
        margin-left: 40%;
        border-radius: 50%;
        display: block;
        
       
        
        
    }
    .home1  .review p{
        font-family: Tahoma;
        text-align: center;
        margin-left: 15% !important;
        font-size: 12px !important;
       
        
    }
}
@media(max-width:450px){
    .home1 .row .col-md-4{
        object-fit: cover;
        width: 120px;
        height: fit-content;
        padding: 0 !important;
    }
    
    .home1  .review img{
        width: 100px !important;
        height: 100px !important;
        object-fit: cover !important;
        margin-left: 40%;
        border-radius: 50%;
        display: block;
        
       
        
        
    }
    .home1  .review p{
        position: relative;
        font-family: Tahoma;
        text-align: center;
        right: 50px;
       
       
        
    }
}
@media(max-width:360px){
    .home1 .row .col-md-4{
        object-fit: cover;
        width: 100px;
        height: fit-content;
        padding: 0 !important;
    }
    
    .home1  .review img{
        width: 100px !important;
        height: 100px !important;
        object-fit: cover !important;
        margin-left: 40%;
        border-radius: 50%;
        display: block;
        
       
        
        
    }
    .home1  .review p{
        width: 200px;
        position: relative;
        left: 10px;
        top: 10px;
        font-family: Tahoma;
        text-align: center;
        font-size: 10px !important;
        
       
       
        
    }
}




/* section home end */


/* section footer start */

.footer {
    padding-top: 30px !important;
    color: aliceblue;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 50px;
    height: auto;
    background-color: rgb(3, 3, 3);
    
}
.footer .row .icons a{
    color: aliceblue;
    text-decoration: none;
}

.footer .row .icons .line {
    display: block;
    width: 25%;
    height: 2px; 
    background-color: aliceblue; 
    margin: 12px 0; 
}
.footer-links a{
    font-size: 18px;
    
    transition: transform 0.5s;
    border-bottom: 2px solid transparent;
    
}
.footer-links a:hover{
    
    transform: scale(0.9);
    border-color: #bfd7f0;
}

@media(max-width: 900px) {
    .footer .row .col-lg-4{
        border: none;
    }
    .footer  .row{
        display: grid;
        place-items: center;
    }
}
@media(max-width: 450px) {

    .footer .row .first-col img {
        display: block !important;
        margin: 0 auto !important;
        width: 100px !important;
        height: 100px !important;
    }
    .footer .row .first-col h1 {
        font-size: 22px !important;
        display: block !important;
        margin-top: 10px;
        text-align: center;
    }
}
    

/* section footer end */